.container {
    display: inline-block;
    width: 30%;
    margin: 10px;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    height: 400px;
    padding: 20px;
    border-radius: 15px;
    margin-top: 10px;
    background-color: black;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .img {
    display: flex;
    justify-content: center;
  }
  
  .banner {
    width: 100px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
  }
  
  .text-main {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
  }
  
  .text {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-align: center;
    font-weight: 200;
    font-size: 15px;
  }

  .button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  .btn {
    font-family: 'Poppins', sans-serif;
    padding: 10px 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    transition: 1s;
    background-color: white;
    color: black;
    cursor: pointer;
  }

  .btn:hover {
    transition: 1s;
    background-color: #858281;
  }
  
  marquee {
    font-size: 24px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; 
    color: white;
    background-color: #000; 
    padding: 10px; 
    border-radius: 20px; 
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2); 

  }

  .card:hover {
    background-color: #8e8e8e; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
  }
  
  .card-image {
    width: 50%;  
    height: auto; 
}

  .card-container {
    justify-content: space-between;
}

